{
  "root": true,
  "extends": [
    "./node_modules/@bloomreach/frontend-build/.eslintrc",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "no-console": 0
  }
}
